



@import url('https://fonts.googleapis.com/css2?family=Ewert&family=Modak&family=Nanum+Brush+Script&display=swap');



h1{
    color: royalblue;
    text-align: center;
    /* px : 16 , rem : 1 ,em : 1 */
    font-size: 4rem;
    text-transform: capitalize;
    /* text-transform: lowercase; */
    /* text-transform: uppercase; */
    word-spacing: -5px;
    letter-spacing: 5px;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    /* font-family: "Corben", serif; */
    /* font-family: "Great Vibes", cursive; */
    /* font-family:
    text-shadow: 2px 2px 2px red, 4px 4px 2px teal; */
    font-family: "Ewert", serif;
        font-weight: 400;
        font-style: normal;
      }
      p{color:brown;
      text-align: justify;
      line-height: 5px;
    }
    .msg{color:aqua;
    text-align: justify;
  line-height: 1.2;}
 
  
  a {
     text-decoration: none;
     /* text-decoration: underline;
     text-decoration: overline; */
  }
      
  
}

