.col1 {
    height: 100px;
}

.col2 {
    width: 100%;
    height: 80px;
}

.col3 {
    width: 19.2%;
    height: 100px;
}

.col4 {
    width: 19.2%;
    height: 100px;
}

.col5 {
    height: 500px;
    width: 79.8%;
}

.col6 {
    height: 500px;
    width: 19.2%;
}

.new {
    float: left;
    margin-left: 1%;
}

.vad {
    margin-bottom: 10px;
}

.txt {
    text-align: center;
}



.fl {
    float: left;
}

.fr {
    float: right;
}

.bg1 {
    background-color: blueviolet;
}

.bg2 {
    background-color: chartreuse;
}

.bg3 {
    background-color: coral;
}

.bg4 {
    background-color: darkmagenta;
}

.bg5 {
    background-color: chocolate;
}

.bg6 {
    background-color: brown;
}

.clr {
    clear: both;
    height: 0%;
}